@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
    margin:16px 0px;
    padding-left: 40px;
    /* padding: 20px; */
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
}
